<html>	
<head>		
<title> </title>		
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="51bbw.cn">		
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />		
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="all">		
<!--导库-->		
<script type="text/javascript" src="../static/jquery/jquery.js" ></script>		
<!-- 图片幻灯片效果-->		
<script type="text/javascript" src="../static/js/roundabout.js"></script>		
<script type="text/javascript" src="../static/js/roundabout_shapes.js"></script>		
<script type="text/javascript" src="../static/js/gallery_init.js"></script>		
<!-- 下雪-->		
<script type="text/javascript" src="../static/js/snowstorm.js"></script>		
<!-- 打字机效果-->				
<script type="text/javascript" src="../static/js/text.js"></script>		
<!-- 画爱心-->		
<script type="text/javascript" src="../static/js/ga.js" async=""></script>		
<script type="text/javascript" src="../static/js/heart.js"></script>		
<!-- 移动div-->		
<script type="text/javascript" src="../static/js/move.js"></script>		
<!-- 显示时间 -->		
<script type="text/javascript" src="../static/js/time.js"></script>		
<!-- 设置文字跟随鼠标 -->		
<script type="text/javascript" src="../static/js/makesnake.js" ></script>	

   
</head>	

<body>		
<audio autoplay="autopaly">
    <source src="../static/music/love.mp3" type="audio/mp3" />
</audio>
<script type="text/javascript">			
setTimeout(makesnake, 10);		
</script>		

<!--#Header-->		

<div id="header" style="opacity:0.85">			
<div id="title">				
</div>		
</div>		
<!-- #myContent -->		

<div id="myContent"></div>		
<div id="contentToWrite" style="display:none">	
"   春天的原野里，你一个人正走着，对面走来一只可爱的小熊，<br>
浑身的毛活像天鹅绒，眼睛圆鼓鼓的。<br>
它对你说道：'你好，小姐，和我一块儿打滚玩好吗？'<br>
接着，你就和小熊抱在一起，顺着长满三叶草的山坡<br>
“咕噜咕噜”滚下去，玩了整整一天。<br>
你说棒不棒？"<br>
<br>
<br>
_____________________"太棒了。" <br>
<br>
<br>
_________________"我就这么喜欢你。" <br>
			
<br>				
写给我最亲爱的  老吴💗<br>		
</div>		

<script type="text/javascript">			
writeContent(true);		
</script>		
</div>		


<!-- #container -->		

<div id="container"  >			
<ul id="myRoundabout">		  	
<li><img src="../static/images/1.jpg" alt=""></li>			
<li><img src="../static/images/2.jpg" alt=""></li>			
<li><img src="../static/images/5.jpg" alt=""></li>			
<li><img src="../static/images/3.jpg" alt=""></li>			
<li><img src="../static/images/4.jpg" alt=""></li>		  
</ul>		
</div>		

<script type="text/javascript">			
setTimeout(move, 150);		
</script>  		  		
<!-- #bg -->		
<div id="bg">			
<canvas id="garden"><c style="color: #FFF; text-shadow:2px 3px 3px #222; font-family:Microsoft YaHei; font-size:50px" ></c></canvas>		
</div>		

<!-- #time -->		

<div id="time" >			
<span id="show"></span>			
<script type="text/javascript">				
setTimeout("showTime()", 40);			
</script>		
</div>	
	
<!-- #footer-->		

<div id="footer">			 
<embed src="" loop="true" width="0px" height="0px" hidden="false"></embed> <a href="/"</a> 		

</div>	</body></html>